:root{
    /* gradient */
    --soft-blue: hsl(240, 73%, 65%);
    --soft-violet: hsl(273, 75%, 66%);

    /* text */
    --dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);

    /* neutral */
    --very-dark-gray-blue: hsl(237, 12%, 33%);
    --dark-gray-blue: hsl(240, 6%, 50%);

    /* divider */
    --divider-gray-blue: hsl(240, 5%, 91%)
}

html{
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
}
