/* 
    This file contains css for components(example- Navbar, container, footer) used on multiple pages.
    
    Ordering followed is - 
    1. html tags
    2. classes
    3. media queries
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import 'theme.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
    color: var(--dark-desaturated-blue);
}

nav.site-navbar{
    box-shadow: 1px 1px 10px #eee;
}
nav.site-navbar .site-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
}
nav.site-navbar .nav-brand{
    font-size: 1.5rem;
    color: dodgerblue;
}

nav.site-navbar .nav-item{
    padding: 10px;
}

nav.site-navbar .nav-link{
    position: relative;
}
/* link hover */
nav.site-navbar .nav-link::before{
    content: "";
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0%;
    width: 0;
    bottom: 0px;
    background: #0bd0c354;
    height: 2px;
    transition: width ease-out 0.3s;
}
nav.site-navbar .nav-link:hover::before{
    width: 100%;
}
/* active link underline */
nav.site-navbar .nav-link.active::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 9px;
    bottom: 0px;
    background-color: #0bd0c354;
}

a {
    text-decoration: none;
    color: teal;
    font-weight: 500;
}

main.site-content{
    /* make footer stay at bottom */
    /* 100viewHeight - (navbar height + footer height) */
    min-height: calc(100vh - (65px + 176px));
}

/* FOOTER */
footer{
    background-color: var(--dark-desaturated-blue);
    color: white;
    position: relative;
    margin-top: 3rem;
}
footer .container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
footer .btn-scrollTop{
    background-color: var(--dark-desaturated-blue);
    color: white;
    position: absolute;
    font-size: 0.8rem;
    right: 0px;
    top: -24px;
    padding: 4px 8px;
}
footer .btn-scrollTop .fa{
    font-size: 1rem;
}
footer .fas, footer .fa{
    font-size: 10px;
}
footer .credits{
    padding: 5px;
    border-top: 1px dashed #666;
    text-align: center;
    font-size: 12px;
}

/* --------- Other Classes --------- */
.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.btn-app{
    padding: 6px 12px;
}

/* screen readers */
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}
/* ------- MEDIA QUERIES -------- */
/* mobile */
@media (max-width: 767px){
    nav{
        overflow: hidden;
        position: fixed;
        top: 0;
        background-color: white;
        width: 100%;
        z-index: 2;
    }
    /* navbar menu */
    #menu{
        display: block;
        transform: translate(100%, 0%);
        transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
        position: fixed;
        width: 0;
        height: 100vh;
        top: 0;
        right: 0;
        /* margin top should be equal to navbar height to make it seem like a part of it */
        margin-top: 55px;
        padding: 16px;
        text-align: right;
        padding-top: 15px;
        background-color: white;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        /* box-shadow: 0 0 10px #85888C; */
        z-index: 1;

    }
    .show-mobileMenu#menu {
        width: 40vw;
        transform: none;
    }
    /* show toggle button on mobile */
    .btn-menuToggle{
        display: block;
    }
    
    .container{
        width: 92%;
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 991px){
    nav.site-navbar .btn-menuToggle{
        display: none;
    }
    .container{
        width: 90%;
        max-width: 800px;
    }
}

/* desktop */
@media (min-width: 992px){
    nav.site-navbar .btn-menuToggle{
        display: none;
    }
    .container{
        width: 90%;
        max-width: 1200px;
    }
}