@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import '../theme.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
    color: var(--dark-desaturated-blue);
}
a {
    text-decoration: none;
    color: var(--dark-desaturated-blue);
    font-weight: 500;
}
.container {
    max-width: 1200px;
    margin: auto;
    padding: 1rem;
}
/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.navbar-brand h1 {
    font-size: 32px;
    font-weight: 400;
}
.nav-links .nav-item{
    list-style-type: none;
    display: inline;
    margin: 1rem;
}
.nav-links .nav-item a.active {
    color: var(--soft-red);
}
.nav-links .nav-item a:hover {
    color: var(--soft-red);
}
.menu {
    cursor: pointer;
    display: none;
}
.menu:focus {
    outline: none;
}
.menu.show-menu {
    display: block;
}
.menu span {
    display: block;
    margin: 5px;
    background-color: #1d7770;
    border-radius: 5px;
    width: 40px;
    height: 4px;
}
.menu span:nth-child(1) {
    width: 15px;
    height: 4px;
}
.menu span:nth-child(3) {
    width: 20px;
    height: 4px;
}
/* End Navbar */
/* Home Section */
#home {
    padding-top: 15px;
    display: block;
    margin: auto;
    text-align: center;
    background-color: var(--bgLight);
}
.hero-text {
    max-width: 600px;
    margin: 1rem auto;
}
.hero-text h1 {
    font-size: 42px;
    font-weight: 500;
}
.hero-text p {
    color: var(--very-dark-gray-blue);
}
.hero-img {
    margin: 1.5rem auto;
    width: 100%;
    max-width: 700px;
    height: auto;
}
.btn {
    font-size: .875rem;
    font-family: Poppins,sans-serif;
    padding: .625rem 1.25rem;
    outline: none;
    margin: 0.5rem;
}
.btn-opacity-success {
    background-color: var(--btn-success);
    
    border: 2px solid transparent;
    transition: all .5s ease-in-out;
}
.btn-opacity-success:hover {
    background-color: var(--btn-success-light);
    border: 2px solid var(--btn-success);
}

/* about */
#about {
    margin: 2rem auto;
    padding: 2rem 0;
    text-align: center;
}
#about .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#about .container div {
    text-align: left;
    flex: 1;
    margin: 2rem 1rem;
}
#about h1 {
    font-size: 36px;
}
/* end about */
/* footer */
footer {
    margin: 2rem auto;
    padding: 2rem 0;
}
footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
footer ul li {
    list-style: none;
    display: inline;
    margin: 1.5rem;
}
/* end footer */
.pop-up {
    background-image: url(../../images/popup.jpg);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 83px 0 68px;
}

/* pages */
.dummy-data {
    margin: auto;
    text-align: center;
}
