@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
@import '../theme.css';
@import '../home.css';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
    color: var(--dark-desaturated-blue);
}
a {
    text-decoration: none;
    color: var(--dark-desaturated-blue);
    font-weight: 500;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
.navbar-brand h1 {
    font-size: 32px;
    font-weight: 400;
}
.nav-links .nav-item{
    list-style-type: none;
    display: inline;
    margin: 1rem;
}
.nav-links .nav-item a.active {
    color: var(--soft-red);
}
.nav-links .nav-item a:hover {
    color: var(--soft-red);
}
.menu {
    cursor: pointer;
    display: none;
}
.menu:focus {
    outline: none;
}
.menu.show-menu {
    display: block;
}
.menu span {
    display: block;
    margin: 5px;
    background-color: #1d7770;
    border-radius: 5px;
    width: 40px;
    height: 4px;
}
.menu span:nth-child(1) {
    width: 15px;
    height: 4px;
}
.menu span:nth-child(3) {
    width: 20px;
    height: 4px;
}
/* End Navbar */
/* Home Section */

/* footer */
footer {
    margin: 2rem auto;
    padding: 2rem 0;
}
footer .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
footer ul li {
    list-style: none;
    display: inline;
    margin: 1.5rem;
}
/* end footer */
/* pages */
.dummy-data {
    margin: auto;
    text-align: center;
}
