@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --bgColor: #fcfcfc;
    --fontColor: #1f2933;
    
    --bgLight: #e3fdfd;
    --buttonColor: #3B82F6;
    --shadow: 4px 4px 15px -2px rgba(34,62,67,0.6);
}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-display: swap;
    color: var(--fontColor);
}

/* Navbar */
nav .container {
    max-width: 1300px;
    margin: auto;
    padding: 0 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 1.5rem 1rem;
}
nav a {
    text-decoration: none;
    color: var(--fontColor);
}
nav .navbar-brand a {
    font-weight: 600;
    font-size: 24px;
}
nav .nav-links .nav-item {
    border-radius: 0.25rem;
    line-height: 1.5rem;
    padding: 0.5rem 0.75rem;
    transition: all 300ms;
}
nav .nav-links a.active {
    font-weight: 600;
    background-color: var(--bgLight);
}
nav .nav-links .nav-item:hover {
    background-color: var(--bgLight);
}
/* End Navbar */
/* Home Section */
#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--bgColor);
}
.home-left {
    display: flex;
    justify-content: center;
    flex: 1;
}
.home-right {
    flex: 1;
}
.heroInfo {
    margin-top: 12rem;
    padding-left: 1.5rem;
}
.heroInfo h1 {
    font-size: 42px;
    font-weight: 600;
}
.heroInfo p {
    font-size: 20px;
    margin-bottom: 1rem;
}
.heroInfo .button {
    font-size: 16px;
    border-radius: 8px;
    padding: 8px 20px;
    color: #ffffff;
    background-color: var(--buttonColor);
    border: 3px solid var(--buttonColor);
    cursor: pointer;
    text-align: center;
    transition: all 250ms;
    box-shadow: var(--shadow)
}
.button:hover {
    transform: scale(0.98);
}
.button:focus {
    outline: none;
}
.hero-img {
    width: 100%;
    max-width: 800px;
    height: auto;
}
/* End Home Section */

/* pages */
.dummy-data {
    margin: auto;
    text-align: center;
}
