@import './main.css';
/* Responsive Stylesheet */
@media screen and (max-width: 668px) {
    header {
        padding: 0.5rem 0;
    }
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .menu {
        display: block;
    }
    .nav-links {
        display: none;
        width: 100%;
        height: 100vh;
    }
    .nav-links.show-nav-links{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    #about .container {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        justify-content: center;
    }
}